<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSharp.WPF.ADO.ConnectionModels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CSharp.WPF.ADO.ConnectionModels.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <CSharp.WPF.ADO.ConnectionModels.Properties.Settings>
            <setting name="NorthwindSqlServer" serializeAs="String">
                <value>Server=.\SQLEXPRESS;Database=Northwind;Trusted_Connection=Yes;</value>
            </setting>
        </CSharp.WPF.ADO.ConnectionModels.Properties.Settings>
    </applicationSettings>
</configuration>